:local .login-page {
  display: flex;
  width: 100%;
  height: 100vh;

  .panel {
    display: flex;
    flex-direction: column;
    flex: 1 100%;

    .logo {
      width: 51.6%;
      margin-left: -1.3%;
    }

    .form-login {
      display: flex;
      flex-direction: column;
      flex: 1 100%;
      width: 58.2%;

      .input-login {

        input {
          padding: 1rem 0 0.875rem 1.75rem;
          border-radius: 0.75rem;
          margin-bottom: 1.75rem;
          font-size: 1.20rem;
        }
      }

      .submit-login {
        margin: 1.75rem 10px;
        font-size: 1rem;
        padding: 1rem 0 0.875rem;
        border-radius: 0.75rem;
        text-transform: uppercase;
        background-color: #00B0AE;
        color: #fff;
        font-size: 14px;
        border: none;
      }

      .esqueci-minha-senha {
        text-align: right;
        .link {
          text-decoration: none;
          color: #333333;
        }
      }

    }

  }



  .vertical-line {
    height: 57.4%;
  }

}

.line-login {
  position: fixed;
  max-height: 46%;
  width: 100%;
  bottom: 0;
  z-index: -1;
}