:local .login-page {
  display: flex;
  width: 100%;
  height: 100vh;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  .panel {
    display: flex;
    flex-direction: column;
    flex: 1 100%;

    @media (max-width: 767px) {
      flex: 0 0 auto;
      width: 80%;
    }

    .logo {
      width: 51.6%;
      margin-left: -1.3%;

      @media (max-width: 475px) {
        width: 80%;
      }
    }

    .form-login {
      display: flex;
      flex-direction: column;
      flex: 1 100%;
      width: 58.2%;

      @media (max-width: 767px) {
        width: 100%;
        flex: 0 0 auto;
      }

      .input-login {
        input {
          padding: 1rem 0 0.875rem 1.75rem;
          border-radius: 0.75rem;
          margin: 0 0 0.75rem;
          font-size: 1.2rem;
        }
      }

      .submit-login {
        margin-top: 0.75rem;
        font-size: 1rem;
        padding: 1rem 0 0.875rem;
        border-radius: 0.75rem;
        text-transform: lowercase;
        line-height: 20px;
        background-color: #00ACA9;
        color: #fff;
      }
    }
  }

  .vertical-line {
    height: 57.4%;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.line-login {
  position: fixed;
  max-height: 46%;
  width: 100%;
  bottom: 0;
  z-index: -1;
}
